.gitignore
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/
.vscode/
.idea/
*.user
*.suo
*.userprefs
obj/
bin/
.vs/
.vscode/
logs/
appsettings.*.json
!appsettings.json
!appsettings.Development.json
secrets.json
.env
.env.local
